<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top p-3">
  <a class="navbar-brand font-weight-bold" href="/">BFF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <li class="nav-item">
        <% if user_signed_in? %> 
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <i class="fas fa-user fa-lg"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-user fa-lg"></i>
          <% end %>
        <% end %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-shopping-cart fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>