<section class="subscribe p-4 mb-2 bg-light text-dark" data-controller="subscribe">
  <h3 class="text-center">SIGN UP FOR BFF WEEKLY</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" style="font-family: FontAwesome;" placeholder='&#xf0e0 ENTER YOUR EMAIL'
      aria-label="Recipient's username" aria-describedby="button-addon2" data-target="subscribe.email">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-action="subscribe#add">GET IT IN YOUR INBOX</button>
    </div>
  </div>
</section>