<section class="welcome-img img-position">
  <%= image_pack_tag 'carousels/trip1.jpg', class: "d-block w-100" %>
  <div class="carousel-caption d-none d-md-block img-word">
    <h1>Bring your bag</h1>
    <h3>Taking a trip!</h3>
  </div>
</section>