<section class="welcome-img img-position-down">
  <%= image_pack_tag 'carousels/trip5.jpg', class: "d-block w-100" %>
  <div class="carousel-caption d-none d-md-block img-word-down">
    <h1>Order new bag</h1>
    <h1>Order your next trip!</h1>
  </div>
</section>