<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row justify-content-center">
      <div class="col-12">
        <hr class="p-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Go Shopping</h5>
        <p><i class="fas fa-map-marker-alt"></i>&nbsp;No. 10, Gongyuan 2nd Rd., Yancheng Dist., Kaohsiung City 803, Taiwan</p>
        <p><i class="fas fa-phone-square-alt"></i>&nbsp;07-5447896</p>
        <p><i class="fas fa-envelope"></i>&nbsp;goshopping@gmail.com</p>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">About Us</h5>
        <ul class="list-unstyled">
          <li class="mt-2">
            <a href="#!" class="text-decoration-none text-dark">Our Brand</a>
          </li>
          <li class="mt-2">
            <a href="#!" class="text-decoration-none text-dark">Our Vision</a>
          </li>
          <li class="mt-2">
            <a href="#!" class="text-decoration-none text-dark">Our Member</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Products</h5>
        <ul class="list-unstyled">
          <li class="mt-2">
            <a href="#!" class="text-decoration-none text-dark">Order</a>
          </li>
          <li class="mt-2">
            <a href="#!" class="text-decoration-none text-dark">F&Q</a>
          </li>
          <li class="mt-2">
            <ul class="list-unstyled">
              <li class="d-inline"><a href="#!" class="text-decoration-none text-dark m-1"><i class="fab fa-instagram fa-lg"></i></a></li>
              <li class="d-inline"><a href="#!" class="text-decoration-none text-dark m-1"><i class="fab fa-facebook-square fa-lg"></i></a></li>
              <li class="d-inline"><a href="#!" class="text-decoration-none text-dark m-1"><i class="fab fa-line fa-lg"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 text-light bg-dark">© 2020 Copyright:
    <a href="https://goshopping.com/"> Goshopping.com</a>
  </div>
</footer>

