GOOGLE_APP_ID: "YOUR_APP_ID"
GOOGLE_SECRET_KEY: "YOUR_APP_SECRET"

LINE_PAY_ID: "LINE_PAY_CHANNAL_ID"
LINE_PAY_SECRET: "LINE_PAY_SECRET"

YOUR_DOMAIN_NAME: 'WEBSITE_DOMAIN_NAME'
MAILGUN_USERNAME: 'MAILGUN_USERNAME'
MAILGUN_PASSWORD: 'MAILGUN_PASSWORD'

AWS_ACCESS_KEY_Id: 'AWS_ACCESS_KEY_Id'
AWS_SECRET_ACCESS_KEY: 'AWS_SECRET_ACCESS_KEY'
BUCKETEER_AWS_REGION: 'BUCKETEER_AWS_REGION'
BUCKETEER_BUCKET_NAME: 'BUCKETEER_BUCKET_NAME'