<h3>Hello, dear <%= @user.username.capitalize %>:</h3>

<p>Your Order <%= "#{@order.num}" %> is already cancelled and refunded successfully.</p>
<p>Please check your account later.</p>
<p>If you have any question, please contact us immediately with email or phone call.</p>

<b>Sincerely, <a href="https://tbagcem.com">Tbag</a></b>