<h3>Hello, dear <%= @user.username.capitalize %></h3>

<p>The order <%= "#{@order.num}" %> is paid successfully by Line-Pay.</p>
<p>We are checking and preparing your order.</p>
<p>When we deliver the good, we will notify you again.</p>
<p>It costs 3-5 days in usual. Please wait. Thank you so much.</p>
<p>If you have any question, please contact us immediately with email or phone call.</p>
<p>However, if you want to cancel the order, please go back to website and cancel.</p>

<b>Sincerely, <a href="http://www.tbagcem.com">Tbag</a></b>